/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional global styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Dark mode transitions */
.dark {
  color-scheme: dark;
}
